.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mantine-spacing-md);
  justify-content: center;
}

@media (min-width: 48em) {
  .grid {
    justify-content: flex-start;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
