*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--mantine-color-dark-7);
  color: var(--mantine-color-dark-0);
}

a {
  color: inherit;
  text-decoration: none;
}
